@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Gugi&family=Noto+Serif+KR:wght@200&display=swap');

.App {
    font-family: 'Aoboshi One', serif;
    font-family: 'Gugi', cursive;
    font-family: 'Noto Serif KR', serif;
}